<div class="global">
  <nav class="left-nav">
    <div class="nav-content">
      <div class="logo">
        <img src="assets/img/logoRabbit@2x.png" />
      </div>
      <div class="basket">
        <img src="assets/img/panier.png" />
      </div>
      <div class="line-1"></div>
      <div class="hamburger">
        <img
          src="assets/img/hamburger.png"
          (click)="openMenu()"
          *ngIf="!menuOn"
        />
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="15"
          height="15"
          viewBox="0 0 15 15"
          style="width: 40px; height: 40px"
          *ngIf="menuOn"
          (click)="openMenu()"
        >
          <path
            d="M14.53 4.53l-1.06-1.06L9 7.94 4.53 3.47 3.47 4.53 7.94 9l-4.47 4.47 1.06 1.06L9 10.06l4.47 4.47 1.06-1.06L10.06 9z"
          />
        </svg>
      </div>
      <div class="line-2"></div>
      <div class="search">
        <img src="assets/img/search.png" />
      </div>
      <div class="site-name">
        <p>
          <span style="color: #fbd848">ORGA</span>
          <span style="color: #39553a">BITS</span>
        </p>
      </div>
    </div>
  </nav>
  <div style="width: 100%; height: 100%">
    <div class="menu-content" *ngIf="menuOn" [@enterAnimation]>
      <div class="menu">
        <div class="header our-fruits">
          <div class="fruits-title">
            <div class="title-line"></div>
            <h1>Our fruits</h1>
          </div>
          <div class="fruits">
            <div class="fruit">
              <div class="fruit-line"></div>
              <p>Pineapples</p>
            </div>
            <div class="fruit">
              <div class="fruit-line"></div>
              <p>Strawberries</p>
            </div>
            <div class="fruit">
              <div class="fruit-line"></div>
              <p>Apples</p>
            </div>
            <div class="fruit">
              <div class="fruit-line"></div>
              <p>Citrus</p>
            </div>
          </div>
        </div>
        <div class="header our-vegetables">
          <div class="vegetables-title">
            <div class="title-line"></div>
            <h1>Our Vegetables</h1>
          </div>
          <div class="vegetables">
            <div class="vegetable">
              <div class="vegetable-line"></div>
              <p>Cauliflowers</p>
            </div>
            <div class="vegetable">
              <div class="vegetable-line"></div>
              <p>Tomatoes</p>
            </div>
            <div class="vegetable">
              <div class="vegetable-line"></div>
              <p>Eggplants</p>
            </div>
            <div class="vegetable">
              <div class="vegetable-line"></div>
              <p>Carotts</p>
            </div>
          </div>
        </div>
        <div class="header our-vision">
          <div class="vision-title">
            <div class="title-line"></div>
            <h1>Our vision</h1>
          </div>
        </div>
        <div class="header contact-us">
          <div class="contact-title">
            <div class="title-line"></div>
            <h1>Contact us</h1>
          </div>
        </div>
      </div>
      <div class="bg-white"></div>
      <img class="bg-tomate" src="assets/img/tomatoes.png" />
    </div>
    <router-outlet></router-outlet>
  </div>
</div>
