.global {
  display: flex;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;

  .left-nav {
    z-index: 3;
    top: 0px;
    left: -1px;
    min-width: 150px;
    height: 100%;
    background: #ffffff 0% 0% no-repeat padding-box;
    opacity: 1;

    .nav-content {
      background-color: #fff;
      display: flex;
      height: 100%;
      flex-direction: column;
      justify-content: space-between;
      text-align: center;

      .logo {
        margin: auto;
        width: 69px;
        height: 57px;
        opacity: 1;
      }

      .basket {
        margin: auto;
        width: 20px;
        height: 18px;
        opacity: 1;
      }

      .line-1 {
        margin: auto;
        background-color: #f3d145;
        width: 1px;
        height: 40px;
      }

      .hamburger img {
        margin: auto;
        width: 45px;
        height: 45px;
        opacity: 1;
        transition: transform 0.4s ease;
        cursor: pointer;
      }

      .hamburger img:hover {
        transform: scale(1.2);
      }

      .line-2 {
        margin: auto;
        background-color: #f3d145;
        width: 1px;
        height: 40px;
      }

      .search {
        margin: auto;
        width: 16px;
        height: 16px;
        opacity: 1;
      }

      .site-name {
        margin: auto;
        transform: matrix(0, -1, 1, 0, 0, 0);
        font: normal normal bold 20px/28px Acumin Pro;
        letter-spacing: 0px;
        opacity: 1;
      }
    }
  }
}

.menu-content {
  position: fixed;
  width: calc(100% - 150px);
  height: 100%;
  display: flex;
  flex-direction: column;
  //background-color: white;
  z-index: 2;

  .menu {
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;

    .our-fruits,
    .our-vegetables,
    .our-vision,
    .contact-us {
      display: flex;
      flex-direction: row;

      .fruits-title,
      .vegetables-title,
      .vision-title,
      .contact-title {
        display: flex;
        flex-direction: row;
        margin: 0;
        padding: 0;
        align-items: center;
        width: 30%;
        letter-spacing: 1.8px;
        color: #3b573b;

        .title-line {
          width: 30px;
          height: 2px;
          background-color: #f3d145;
          margin-right: 10px;
          margin-left: 10px;
        }
      }

      .fruits,
      .vegetables {
        display: flex;
        flex-direction: column;
        width: 70%;

        .fruit,
        .vegetable {
          display: flex;
          flex-direction: row;
          margin: 0;
          padding: 0;
          align-items: center;
        }

        .fruit-line,
        .vegetable-line {
          width: 30px;
          height: 2px;
          background-color: #f3d145;
          margin-right: 10px;
          margin-left: 10px;
        }
      }
    }
  }

  .bg-white {
    width: 100%;
    height: 100%;
    background-color: white;
    position: fixed;
  }

  .bg-tomate {
    position: fixed;
    width: 800px;
    right: 0;
    top: -200px;
  }
}
