:host {
  width: 100%;
}

.container {
  height: 100%;
  width: 100%;

  .header {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
    text-align: left;
    font: normal normal bold 12px/14px Acumin Pro;
    letter-spacing: 0.9px;
    color: #375238;
    opacity: 1;

    .our-product {
      width: 230px;
      height: 24px;
      display: flex;
      flex-direction: row;
      margin: 0;
      padding: 0;
      align-items: center;
      justify-content: center;

      .header-title {
        margin-left: 10px;
        h1 {
          margin: 0;
          padding: 0;
        }
      }
    }

    .header-line {
      width: 30px;
      height: 2px;
      background-color: #f3d145;
    }

    .fruits {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .list {
        display: flex;
        flex-direction: row;
        align-items: center;

        .header-text {
          margin-left: 10px;
          p {
            margin: 0;
            padding: 0;
          }
        }
      }
    }

    .vegetables {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .list {
        display: flex;
        flex-direction: row;
        align-items: center;

        .header-text {
          margin-left: 10px;
          p {
            margin: 0;
            padding: 0;
          }
        }
      }
    }

    .social {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }

  .title-content {
    margin: auto;
    width: 1064px;
    height: 410px;
    text-align: left;
    font: normal normal 900 150px/130px Acumin Pro;
    letter-spacing: 7.5px;
    opacity: 1;
    padding-bottom: 20px;

    .super-title {
      margin: 0;
      padding: 0;
    }
  }

  .subtitle-content {
    width: 1032px;
    background: rgba(255, 255, 255, 0.39) no-repeat padding-box;
    margin: auto;

    .subtitle {
      margin: 0;
      padding: 30px;
      text-align: left;
      letter-spacing: 0.9px;
      color: #375238;
      opacity: 1;
      font-size: 12px;
    }
  }

  .button {
    width: 1032px;
    margin: auto;
    font: normal normal normal 12px/14px Acumin Pro;
    margin-top: 30px;

    .discover-button {
      width: 208px;
      height: 38px;
      background: #f1d145;
      opacity: 1;
      color: #ffffff;
      letter-spacing: 0.9px;
      border: none;
      background: linear-gradient(to left, #f1d145 50%, #3b573b 50%) right;
      background-size: 200%;
      transition: 0.5s ease-out;
    }

    .discover-button:hover {
      cursor: pointer;
      background-position: left;
    }
  }

  .footer {
    height: 107px;
    display: flex;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;

    .page-number {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 110px;
      height: 98px;
      text-align: center;

      .first-number {
        font-size: 98px;
        letter-spacing: 7.35px;
        color: #f1d145;
      }

      .separator {
        font-size: 29px;
        letter-spacing: 2.17px;
        color: #f1d145;
      }

      .second-number {
        font-size: 29px;
        letter-spacing: 2.17px;
        color: #375238;
      }
    }

    .switch {
      display: flex;
      width: 277px;
      height: 107px;

      .switch-image {
        height: auto;
      }

      a {
        text-decoration: none;
        color: white;
        .switch-button {
          width: 116px;
          height: 107px;
          text-align: center;
          color: #ffffff;
          display: flex;
          align-items: center;
          justify-content: center;
          background: #f1d145; 
          background: linear-gradient(to left, #f1d145 50%, #3b573b 50%) right;
          background-size: 200%;
          transition: 0.5s ease-out;
        }

        .switch-button:hover {
          background-position: left;
        }
      }
    }
  }

  .bg-container {
    top: -867px;
    left: -140px;
    width: 2557px;
    height: 1919px;
    opacity: 1;
    background: transparent url("../../assets/img/Sans-titre-2.png") 0% 0%
      no-repeat padding-box;
    position: fixed;
    z-index: -1;
  }
}
