<div class="container">
  <div class="header">
    <div class="our-product">
      <div class="header-line"></div>
      <div class="header-title"><h1>Our products</h1></div>
    </div>
    <div class="fruits">
      <div class="list">
        <div class="header-line"></div>
        <div class="header-text"><p>Pineapples</p></div>
      </div>
      <div class="list">
        <div class="header-line"></div>
        <div class="header-text"><p>Strawberries</p></div>
      </div>
      <div class="list">
        <div class="header-line"></div>
        <div class="header-text"><p>Apples</p></div>
      </div>
      <div class="list">
        <div class="header-line"></div>
        <div class="header-text"><p>Citrus</p></div>
      </div>
    </div>
    <div class="vegetables">
      <div class="list">
        <div class="header-line"></div>
        <div class="header-text"><p>Cauliflowers</p></div>
      </div>
      <div class="list">
        <div class="header-line"></div>
        <div class="header-text"><p>Tomatoes</p></div>
      </div>
      <div class="list">
        <div class="header-line"></div>
        <div class="header-text"><p>Eggplants</p></div>
      </div>
      <div class="list">
        <div class="header-line"></div>
        <div class="header-text"><p>Carotts</p></div>
      </div>
    </div>
    <div class="social">
      <p><img src="assets/img/twitter.png" /></p>
      <p><img src="assets/img/youtube.png" /></p>
      <p><img src="assets/img/instagram.png" /></p>
      <p><img src="assets/img/facebook.png" /></p>
    </div>
  </div>
  <div class="title-content">
    <p class="super-title">
      <span style="color: #fbd848; opacity: 0.9"
        >Our fruits<br />
        & vegetables are</span
      ><span style="color: #39553a"> organic.</span>
    </p>
  </div>
  <div class="subtitle-content">
    <p class="subtitle">
      Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo
      ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis
      dis parturient montes, nascetur ridiculus mus.
    </p>
  </div>
  <div class="button">
    <button class="discover-button">DISCOVER ></button>
  </div>
  <div class="footer">
    <div class="page-number">
      <p>
        <span class="first-number">2</span><span class="separator">/</span
        ><span class="second-number"> 2</span>
      </p>
    </div>
    <div class="switch">
      <div class="switch-image">
        <img src="assets/img/Sans-titre-1.png" />
      </div>
      <a class="nav-link" [routerLink]="['/fruits']">
      <div class="switch-button">
        <p>></p>
      </div>
    </a>
    </div>
  </div>
  <div class="bg-container"></div>
</div>
